<h1 style="color:blue">
    Información Controller --> View
</h1>
<h2 style="color:fuchsia">
    Nombre @ViewData["NOMBRE"]
</h2>
<h2 style="color:forestgreen">
    Edad: @ViewData["EDAD"]
</h2>
<h2 style="color:blueviolet">
    Día semana: @ViewBag.DiaSemana
</h2>