<h1>Menú matemáticas Controller</h1>

<ul>
    <li>
        @Html.ActionLink("Sumar 5 + 6", "SumarNumerosGet"
        , "Matematicas", 
        new { numero1 = 5, numero2 = 6})
    </li>
    <li>
        <a asp-controller="Matematicas"
            asp-action="SumarNumerosPost">
            Sumar números POST
        </a>
    </li>
    <li>
        <a asp-controller="Matematicas"
            asp-action="ConjeturaCollatz">
            Conjetura Collatz
        </a>
    </li>
</ul>