<h1 style="color:fuchsia">
    Sumar números POST
</h1>

<form method="post">
    <label>Número 1</label>
    <input type="text" name="numero1"
        class="form-control"/><br/>
    <label>Número 2</label>
    <input type="text" name="numero2"
        class="form-control"/><br/>
    <button class="btn btn-success">
        Sumar números
    </button>
</form>
<h3 style="color:red">
    @ViewData["MENSAJE"]
</h3>